article {
  margin: 10% 20%;
  display: grid;
  grid-template-areas:
  'name resume '
  'name resume ';
  height: 55vh;
}

html {
  background: linear-gradient(to bottom right, #006666, #669999, #40bf80, #40bf80, #f2ffe6) fixed;
}

h1 {
  text-align: center;
  font-size: 32px;
}

img {
  width: 100%;
}

.skillLeft {
  grid-area: b;
}
.skillRight {
  grid-area: c;
}
.volLeft {
  grid-area: e;
}
.volRight {
  grid-area: f;
}

#ed {
  margin: 0;
  margin-top: 5%;
  text-align: left;
  font-size: 24px;
  text-decoration: underline;
}

#education {
  grid-area: a;
}

#name {
  grid-area: name;
  box-shadow: 10px -6px 5px 0px dimgray;
  background: rgba(211,211,211, 0.75);
  width: 15vw;
  margin-left: 30%;
}

#resume {
  grid-area: resume;
  width: 30vw;
  box-shadow: 10px -6px 5px 0px dimgray;
  background: rgba(211,211,211, 0.75);
}

#skills {
  margin: 0;
  margin-top: 5%;
  text-align: left;
  font-size: 24px;
  text-decoration: underline;
  grid-area: s;
}

#words {
  margin-left: 10%;
  font-size: 18px;
  display: grid;
  line-height: 28px;
  grid-template-areas:
  'a a '
  's s '
  'b c '
  'v v '
  'e f ';
}

#vol {
  margin: 0;
  margin-top: 5%;
  text-align: left;
  font-size: 24px;
  text-decoration: underline;
  grid-area: v;
}
